# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.venv/
env/

# Django local database and files
*.sqlite3
db.sqlite3
testwrite.txt

# Environment variables
.env
*.env

# Static and media
staticfiles/
media/

# IDE / OS
.vscode/
.idea/
.DS_Store

# Logs
*.log

# Temporary folders
.tmp/
piptemp*/
pip-temp*/
piptemp2/


# Power BI generated exports
mysite/powerbi_exports/
